@model PL.Models.QuestionAnswerViewModel


<div>
    @Html.HiddenFor(x => x.Question_ID)
    @if (Model.ISFULL == false)
    {
        <h3>@Model.content</h3>


        foreach (var a in Model.Answers)
        {
            <p>
                @Html.RadioButtonFor(b => b.SelectedAnswer, a.Answer_ID) @a.content
            </p>
        }
    }
</div>
   


