
<div class="AboutUS">
    <div></div>
    <div>
        For every child it’s extremely important to have a high-quality
        <p>middle education that provides skills,</p>
        <p>knowledge, and confidence they'll need to move forward in life. However,</p>
        <p>
            not every student succeeds in
        </p>
        <p>
            a traditional school setting. Some students move more quickly than their
        </p>
        <p>
            peers or vice versa. Additionally,
        </p>
        <p>
            there is no enough motivation for children to learn subjects profoundly
        </p>
        <p>
            and to dive in them with desire.
            That’s why parents will directly take part in motivation of their children.
        </p>
        <p>  For these students, «Brain Money» offers the ability  </p> <p>to be good motivated and gain skills in subjects. </p>
        <div class="hipperLink"><p>@Html.ActionLink("Start now!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</p></div>

    </div>
    <div></div>

</div>

    

    
